body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
}


.container {
    display: flex;
    flex-wrap: wrap;
}


.item {
    border-style: solid;
    border-color: blue;
    width: 20px;
    height: 20px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


